<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BMU,DigestMap</key>
	<dict>
		<key>Digest</key>
		<data>
		29jfHtBETh1qZNb/V8IRkpePe5CaJvpXm4rlu0DxUEw=
		</data>
	</dict>
</dict>
</plist>
