<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BMU,FirmwareMap</key>
	<dict>
		<key>Digest</key>
		<data>
		DrtO1Z9dAPDv8ygziv/eZoRATzyBK1JAP6Q8Z/HchOE=
		</data>
	</dict>
</dict>
</plist>
