<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Yonkers,SysTopPatch0</key>
	<dict>
		<key>Digest</key>
		<data>
		a8B89rpWuQIV7JfO9Tx64VkwHm8Z13u3TNpe8l1/Nxk=
		</data>
		<key>EPRO</key>
		<false/>
		<key>FabRevision</key>
		<integer>6657</integer>
	</dict>
	<key>Yonkers,SysTopPatch2</key>
	<dict>
		<key>Digest</key>
		<data>
		a8B89rpWuQIV7JfO9Tx64VkwHm8Z13u3TNpe8l1/Nxk=
		</data>
		<key>EPRO</key>
		<false/>
		<key>FabRevision</key>
		<integer>10753</integer>
	</dict>
	<key>Yonkers,SysTopPatch4</key>
	<dict>
		<key>Digest</key>
		<data>
		a8B89rpWuQIV7JfO9Tx64VkwHm8Z13u3TNpe8l1/Nxk=
		</data>
		<key>EPRO</key>
		<false/>
		<key>FabRevision</key>
		<integer>8705</integer>
	</dict>
	<key>Yonkers,SysTopPatch6</key>
	<dict>
		<key>Digest</key>
		<data>
		a8B89rpWuQIV7JfO9Tx64VkwHm8Z13u3TNpe8l1/Nxk=
		</data>
		<key>EPRO</key>
		<false/>
		<key>FabRevision</key>
		<integer>12801</integer>
	</dict>
</dict>
</plist>
