<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Yonkers,SysTopPatch8</key>
	<dict>
		<key>Digest</key>
		<data>
		ELC9meLfUb7q+6lmPkyvs6OldzvXwJOQy4/bdX4XFiU=
		</data>
		<key>EPRO</key>
		<false/>
		<key>FabRevision</key>
		<integer>59905</integer>
	</dict>
	<key>Yonkers,SysTopPatchA</key>
	<dict>
		<key>Digest</key>
		<data>
		ELC9meLfUb7q+6lmPkyvs6OldzvXwJOQy4/bdX4XFiU=
		</data>
		<key>EPRO</key>
		<false/>
		<key>FabRevision</key>
		<integer>61953</integer>
	</dict>
</dict>
</plist>
