<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Savage,B2-Prod-PatchVT</key>
	<dict>
		<key>Digest</key>
		<data>
		47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
		</data>
	</dict>
</dict>
</plist>
