<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Savage,BF-Prod-Patch</key>
	<dict>
		<key>Digest</key>
		<data>
		a0GqJA6tosMd9mulr/DqVLIcAawQgCe76Ug80O4SRio=
		</data>
	</dict>
</dict>
</plist>
