<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Savage,BA-Prod-Patch</key>
	<dict>
		<key>Digest</key>
		<data>
		JUdhikubFbeoejbGuI6NoqGGkwzJtZY6OhnfquDqnt8=
		</data>
	</dict>
</dict>
</plist>
